/*@font-face
{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('fonts/Raleway-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
@font-face
{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('fonts/Raleway-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face
{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('fonts/Raleway-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
}
body
{
  height: 100%;
  width: 100%;
}
form
{
  background-color: #006;
  font-size: 0;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: calc(50% - 100px);
  top: -webkit-calc(50% - 100px);
  width: 480px;
}
form.loading *
{
  display: none;
}
form.loading .preloader
{
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
@keyframes preloader
{
  from {background-position-x: 0}
  to {background-position-x: 128px}
}
form.loading .preloader .animation
{
  animation: preloader 0.5s steps(4,end) infinite;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAQAgMAAACjNp8bAAAACVBMVEX///8AAAD///9+749PAAAAAnRSTlOAAE0QVXMAAAAWSURBVCjPY1gFBqGhDGCASY8qGFEKAFfgakGMDN2TAAAAAElFTkSuQmCC') repeat-x scroll left center;
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 128px;
}
h1
{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.block
{
  background-color: #ccc;
  display: inline-block;
  margin: 20px;
  width: 200px;
}
select, input
{
  border: none;
  display: block;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
select
{
  background: #4682b4 none no-repeat scroll 4px top;
  background-size: 32px;
  color: white;
  height: 32px;
  padding-left: 36px;
}
option
{
  background: transparent none no-repeat scroll 4px top;
  background-size: 32px;
  height: 24px;
  padding: 8px 0 0 40px;
}
input
{
  background-color: #266294;
  color: white;
  font-size: 36px;
  /*font-weight: 300;*/
  height: 100px;
  padding-left: 50px;
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
}
.char-code
{
  color: white;
  font-size: 16px;
  margin: 45px 0 0 8px;
  opacity: 0.75;
  position: absolute;
}